<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competenze</title>
</head>

<body>
    <section class="skills" id="skills">
        <h1 class="skill-header">Competenze</h1>

        <div class="skills-wrapper">
            <div class="first-set animate">

                <a href="https://www.w3schools.com/html/" target="_blank" style="cursor: pointer;"><img
                        src="assets\icone\html-5.svg" alt="html-5" loading="lazy" class="icon icon-card"></a>

                <a href="https://www.w3schools.com/css/" target="_blank" style="cursor: pointer;"><img
                        src="assets\icone\css3.svg" alt="css-3" loading="lazy" class="icon icon-card"></a>

                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"
                    style="cursor: pointer;" alt="JavaScript"> <img src="assets\icone\javascript.svg" alt="js"
                        loading="lazy" class="icon icon-card"> </a>
            </div>

            <div class="second-set animate">

                <a href="https://getbootstrap.com/" target="_blank" style="cursor: pointer;" alt="bootstrap"> <img
                        src="assets\icone\bootstrap.svg" alt="bootstrap" loading="lazy" class="icon icon-card"> </a>

                <a href="https://angular.io/" target="_blank" style="cursor: pointer;" alt="angular"> <img
                        src="assets\icone\angular.svg" alt="angular" loading="lazy" class="icon icon-card"> </a>

                <a href="https://git-scm.com/" target="_blank" style="cursor: pointer;" alt="git"> <img
                        src="assets\icone\git.svg" alt="git" loading="lazy" class="icon icon-card"> </a>

                <a href="https://www.typescriptlang.org/" target="_blank" style="cursor: pointer;" alt="typescript"><img
                        src="assets\icone\typescript.svg" alt="typescript" loading="lazy" class="icon icon-card"></a>
            </div>
        </div>
    </section>
</body>

</html>