h1 {
    font-family: 'calibri';
    font-size: 40px;
    margin-top: 15%;

}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 48px;
}

.skill-header {
    margin-bottom: 16px;
}

.skills-wrapper img {
    padding: 0;
}


.icon {

    width: 11.875rem;
    height: 11.25rem;
}

.icon-card {
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 11px;
    overflow: clip;
    box-shadow: rgb(161, 122, 105) 0px 3px 10px 0px;
    position: static;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

/* Mobile */
@media only screen and (max-width: 767px) {


    .skill-header {
        height: 80px;
        margin: 0;
        margin-right: 20px !important;
        font-size: 30px;
    }



    .skills {
        width: 90%;
        position: absolute;
        margin: 0;
        margin-top: 0;
        margin-left: 30px !important;


    }

    .skills-wrapper {
        width: 53%;
        margin-left: 23% !important;

    }

    .icon {
        margin: 10px;
        height: 100px;
        width: 50%;

    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .skill-header {
        margin-bottom: 50px;
        font-size: 45px;
    }


    .icon {
        width: 250px;
    }
}