h1 {
    font-size: 40px;
}

.progetti {
    background-color: rgba(211, 211, 211, 0.105);
    padding: 32px 0;
    margin-top: 2rem;
}

.progetti-foto {
    width: 45%;
    height: 30%;
}

.progetti-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
}

.titoli-progetti {

    text-align: center;
    margin-bottom: 1rem;
}

.progetti-container p {
    padding: 0.4rem;
}

.card {
    width: 350px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: rgb(139, 142, 175) 0px 3px 10px 0px;
    padding: 20px;
    margin: 10px;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    h1 {              
        font-size: 30px;        
    }
  
    .progetti {
      background-color: rgba(211, 211, 211, 0.105);
      padding: 20px;
      margin: 0;          
    }
  
    .progetti-foto {
      width: 50%;
      height: auto;
    }
  
    .progetti-container {
      display: block;
      align-items: flex-start;      
      text-align: center;
      padding: 0;             
      margin-left: 40px;       
    }
  
    .titoli-progetti {
      text-align: center;      
      margin-bottom: 30px;
      margin-left: 0px;
    }
  
    .progetti-container p {
      padding: 0;
      font-size: 20px;
    }
  
    .card {
      width: 80%;
      background-color: #fff;
      border-radius: 11px;
      box-shadow: rgb(139, 142, 175) 0px 3px 10px 0px;
      padding: 10px;      
      margin: 0;
      margin-bottom: 50px;    
    }

    .link{
        font-size: 18px;
    }
  }


/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px){    

    .progetti{
        margin: 0;
        
    }

    h1{
        font-size: 45px
    }

    .progetti-titolo{
        font-size: 30px;
    }

    p{
        font-size: 25px;
    }

    .link{
        font-size: 20px;
    }
}